/* src/index.css */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ELIMINAMOS TODOS LOS ESTILOS DE 'body' 
  QUE INTERFERÍAN CON MUI.
  (display, place-items, min-width, min-height)
*/
body {
  margin: 0;
  /* Dejamos que MUI y CssBaseline manejen el fondo */
}

/* ELIMINAMOS LOS ESTILOS GLOBALES DE 'button', 'h1', etc.
  Dejaremos que el 'theme.ts' de MUI controle esto.
*/